body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: linen;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #4caf50;
  color: white;
}

.dictionary-container {
  margin: 20px auto;
  max-width: 600px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.word {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
